body{
    margin: 0;
    background-color: #74b9ff;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Source+Sans+Pro:wght@200&display=swap');
h3{
    text-align: center;
}
#app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    padding: 30px;
    gap: 30px;
}
.note{
    height: 220px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.30);
    background-color: #fffa65;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.add-note {
    height: 220px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 120px;
    cursor: pointer;
    transition: background 0.2s;
}
.add-note:hover {
    background: rgba(0, 0, 0, 0.2);
}